<div class="intro-container">
<div > 
    <mat-card class="first-part">
        <mat-card-title>Courses</mat-card-title>
        <mat-card-content>
            <div class="courses-container">
                <mat-card class="course-box">
                    <mat-card-title>
                        JavaScript
                    </mat-card-title>
                </mat-card>
                <mat-card class="course-box">
                    <mat-card-title>
                        Angular
                    </mat-card-title>
                </mat-card>
                <mat-card class="course-box">
                    <mat-card-title>
                        ReactJS
                    </mat-card-title>
                </mat-card>
    
                <mat-card matRipple routerLink="/home" class="course-box selected">
                    <mat-card-title>
                        JAVA
                    </mat-card-title>
                </mat-card>
    
                <mat-card class="course-box">
                    <mat-card-title>
                        Mongo DB
                    </mat-card-title>
                </mat-card>
    
                <mat-card class="course-box">
                    <mat-card-title>
                        Node JS
                    </mat-card-title>
                </mat-card>
    
                <mat-card class="course-box">
                    <mat-card-title>
                        Jasmine
                    </mat-card-title>
                </mat-card>
    
                
                <mat-icon class="arrow-icon" routerLink="/topics" color="primary">navigate_next</mat-icon>
            </div>
        </mat-card-content>
        
    </mat-card>
</div>
<div class="second-part"> 
    <mat-card>
        <mat-card-title>
            Introduction
        </mat-card-title>
    <mat-card-content class="card-content">
        <p>Are you aiming to become a software engineer one day? Do you also want to develop a mobile application that people all over the world would love to use? Are you passionate enough to take the big step to enter the world of programming? Then you are in the right place because through this article you will get a brief introduction to programming. Now before we understand what programming is, you must know what is a computer. A computer is a device that can accept human instruction, processes it and responds to it or a computer is a computational device which is used to process the data under the control of a computer program. Program is a sequence of instruction along with data.
            The basic components of a computer are:</p>
            <ol>
                <li>Input unit
                </li>
                <li>Central Processing Unit(CPU)
                </li>
                <li>Output unit
                </li>
            </ol>
    </mat-card-content>
    </mat-card>
</div>
</div>